/* Set styling for the whole document */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Set the colour scheme */
* {
    --primary-color: #588061;
    --secondary-color: #E7B5AC;
    --tertiary-color: #caeed4;
    --light-primary: #869F77;
    --light-secondary: #F9E0DB;
}

body {
    background-color: #eeeeee;
}

/* Make the header sticky */
.sticky-banner {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    margin-bottom: 10px;
}

/* Style nav & logo bar */
.logo-nav-bar {
    background-color: var(--primary-color);
    height: 25px;
}

/* Remove bullets, padding and margin from nav bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 50%;
    justify-content: flex-start;
    height: 25px;
    align-items: center;
}

/* Styling on nav buttons */
.nav-options {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 40px;
}

.nav-options:hover {
    background-color: var(--light-primary);
}

/* Style emergency banner */
.emergency-banner {
    background-color: var(--secondary-color);
    height: 150px
}

.emergency-banner h2 {
    margin: 0;
}

/* Create a flexbox for the services section */
.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* styling for service boxes */
.service {
    height: 400px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    flex: 1 1;
    border-radius: 10px;;
}

#support-yourself {
    background-color: var(--primary-color);
}

#support-your-child {
    background-color: var(--secondary-color);
}

#support-parent {
    background-color: var(--tertiary-color);
}

/* Create a flexbox for the articles section */
.articles-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0.95;
    width: 50%;
    padding: 2px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 5px;
}

/* Create a flexbox for the enquiry form */
.enquiry-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    align-items: center;
}

/* Bring enguiries and articles inline */
.articles-and-enquiry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
