/* Set styling for the whole document */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    margin: 0;
}

/* Set the colour scheme */
* {
    --primary-color: #588061;
    --secondary-color: #E7B5AC;
    --tertiary-color: #caeed4;
    --light-primary: #869F77;
    --light-secondary: #F9E0DB;
}

h2, p, h1 {
    padding-left: 5px;
}

/* Make the header sticky */
.sticky-banner {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    margin-bottom: 10px;
}

/* Style nav & logo bar */
.logo-nav-bar {
    background-color: var(--primary-color);
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Remove bullets, padding and margin from nav bar */
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 25px;
    align-items: center;
}

/* Styling on nav  */
.nav-options {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 20px;
    width: 40px;
    overflow-wrap: normal;
    text-align: center;
}

.nav-options:hover {
    background-color: var(--light-primary);
}

#logo {
    align-self: center;
    width: 100%;
}

.logo-img {
    width: 150px;

}

/* Style emergency banner */
.emergency-banner {
    background-color: #e1c913;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
}

.emergency-banner h2 {
    margin: 0;
}

/* Create a flexbox for the services section */
.services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* styling for service boxes */
.service {
    height: 400px;
    min-width: 300px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    flex: 1 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#support-yourself {
    background-color: var(--primary-color);
}

#support-your-child {
    background-color: var(--secondary-color);
}

#support-parent {
    background-color: var(--tertiary-color);
}

.subheading-support {
    padding-top: 2px;
}

.more-button {
    width: 120px;
    height: 30px;
    background-color: var(--light-primary);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.more-button-text {
    text-decoration: none;
    color: var(--light-secondary);
}

.more-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}


/* Create a flexbox for the articles section */
.articles-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0.95;
    width: 50%;
    padding: 2px;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 5px;
}

/* Create a flexbox for the enquiry form */
.enquiry-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    padding: 5px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    align-items: center;
}

/* Bring enquiries and articles inline */
.articles-and-enquiry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style the footer */
.footer {
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    width: 100%;
    align-content: center;
    text-align: center;
    margin-top: 10px;
}

/* Create a flexbox for about us page */
.about-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    padding: 10px;
}

/* Formatting on about us text */
#about-us-text {
    min-width: 55%;
}

/* Formatting on about image */
#placeholder-about {
       border-radius: 50px;
       width: 400px;
}

#about-us-image {
    align-self: flex-end;

}

/* Create flex for contact */
.contact-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
}

/* contact page */
.contact-details {
    width: 40%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
}

#contact-page-enquiry {
    margin-right: 10px;

}
